.ace_definition, .ace_rules, .ace_prologue, .ace_declarations_token,
.ace_declarations_symbol,.ace_declarations_left,.ace_declarations_right, .ace_grammar_rules, .ace_action_result, .ace_action_argument, .ace_special {
	color: rgb(222, 60, 51);
}

.ace_rules_regex {
	color: #1f7521;
}
.ace_rule_name {
	color: rgb(25, 171, 32);
}
.ace-chrome .ace_comment {
	color: rgb(0, 0, 205) !important;
}
