.output-console {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 0;
  width: 95%;
  height: 95%;
  background-color: #000;
  color: #00ff00;
  border-radius: 5px;
  font-family: monospace;
}
