<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Regex2NL Lab</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% webpack_entry 'main' 'css' %}
        <script type="text/javascript">
            var COMPILE_SERVER_AUTH_KEY = '{{ key }}';
        </script>
    </head>
    <body>
        <div id="root"></div>
        {% webpack_entry 'main' 'js' %}
    </body>
</html>
