html body  [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: inherit; /* 2 */
}

textarea.textarea {
  width:100%;
  height: 100px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 5px;
  resize: none;
  font-family: Roboto, sans-serif;
}

.artifact-viewer .left {
  width: 20%;
  float: left;
  padding: 10px;
}

.artifact-viewer .right {
  width: 75%;
  float: right;
  padding: 10px;
}

@media (max-width: 900px) {
  .artifact-viewer .left {
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    display: block;
    float: none;
  }

  .artifact-viewer .right {
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    display: block;
    float: none;
  }
}

.artifact-viewer-textarea {
  box-sizing: border-box;
  padding: 15px;
  border: none;
  width: 100%;
  height: 600px;
  resize: vertical;
  font-family: monospace;
}
